[submodule "EvoDevo/vendor/CGAL"]
	path = EvoDevo/vendor/CGAL
	url = https://github.com/DawsonCohen/CGAL
[submodule "EvoDevo/vendor/eigen"]
	path = EvoDevo/vendor/eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "EvoDevo/vendor/spdlog"]
	path = EvoDevo/vendor/spdlog
	url = https://github.com/DawsonCohen/spdlog
[submodule "Visualizer/vendor/elastic"]
	path = Visualizer/vendor/elastic
	url = https://github.com/DawsonCohen/Elastic
