# Build files
##folders
obj/
CMakeFiles

##files
visualize/visualizer
optimize/evodevo
common/runtests
benchmark
CMakeCache.txt
cmake_install.cmake
*.out
*.a
*.cmake
Makefile
!optimizer/Makefile
!common/Makefile

# Videos and results
*.avi
z_results/
z_archive/
*.png

# Environment
.vscode

# included files
lib/Eigen