[submodule "EvoDevo/vendor/eigen"]
	path = EvoDevo/vendor/eigen
	url = https://gitlab.com/libeigen/eigen
	branch=master
[submodule "EvoDevo/vendor/spdlog"]
	path = EvoDevo/vendor/spdlog
	url = https://github.com/gabime/spdlog
	branch = v1.x
[submodule "Visualizer/vendor/elastic"]
	path = Visualizer/vendor/elastic
	url = https://github.com/DawsonCohen/Elastic
	branch=main
