# Build files
##folders
obj/
CMakeFiles

##files
visualize/visualizer
optimize/evodevo
benchmark
CMakeCache.txt
cmake_install.cmake
*.out
*.a
*.cmake
Makefile
!optimizer/Makefile

# Videos and results
*.avi
z_results/
z_archive/

# Environment
.vscode

# included files
lib/Eigen